############################################################
# directories
############################################################


deployments/
node_modules/
artifacts/
cache/
lib/
out/
typechain-types/
cache_forge/


############################################################
# files
############################################################


# direnv file
.envrc


############################################################
# regular expressions
############################################################
