############################################################
# directories
############################################################


deployments/
node_modules/
artifacts/
cache/
lib/


############################################################
# files
############################################################


# direnv file
.envrc


############################################################
# regular expressions
############################################################
